body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

 	h1 {
    font-weight: 400; 
    margin-bottom: 0;
    font-size: 36px;
   } 
   	h2 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 8px;
    border-bottom: 1px solid #7e838c;
       } 
   h3 {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 20px;
   } 
   h4 {
    margin: 0;
   }
   .title {
    font-weight: 700;
   }
   .select {
       font-weight: 400; /* Жирное начертание */
 	}	
 	#header {
 		margin-bottom: 50px;
 		text-align: center;
 	}

	#main {
 		margin-bottom: 32px;
 		text-align: justify;
 		margin:0 15% 0 15%;
 	}

 	#footer {
 		margin:50px;
 		text-align: center;
 	}
